* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* body {
    margin: 0;
    padding: 0;
} */
.NavigationBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: black;
    flex-wrap: wrap;
    z-index: -5;
}
.navigation {
    flex-wrap: wrap;
    display: flex;
}

section {
    position: relative;
    width: 100%;
    height: 23vh;
    background: black;
    overflow: hidden;
}
/* section {
    position: relative;
    width: 100%;
    height: 10vh;
    background: #3586ff;
    overflow: hidden;
} */
section .wave5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave2.png);
    background-size: 1000px 100px;
}
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}
section .wave.wave1 {
    animation: animate 10s linear infinite;
    z-index: 996;
    opacity: 0.9;
    animation-delay: 0s;
    bottom: 0;
}
section .wave5.wave6 {
    animation: animate 10s linear infinite;
    z-index: 997;
    opacity: 0.9;
    animation-delay: 0s;
    top: 0;
}
section .wave5.wave7 {
    animation: animate2 6s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    top: 10px;
}
section .wave5.wave8 {
    animation: animate3 10s linear infinite;
    z-index: 998;
    opacity: 0.3;
    animation-delay: -2s;
    top: 15px;
}
section .wave5.wave9 {
    animation: animate4 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    top: 20px;
}
section .wave.wave2 {
    animation: animate2 6s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate3 10s linear infinite;
    z-index: 998;
    opacity: 0.3;
    animation-delay: -2s;
    bottom: 15px;
}
section .wave.wave4 {
    animation: animate4 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate4 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

.Formcontainer {
    display: grid;
    place-items: center;
    text-align: center;
    justify-content: center;
    background: #000;
    z-index: 100;
}

.ContactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    flex-direction: column;
    gap: 30px;
    /* background: #1d2b3a; */
    background: gray;
    margin: 20px;
    border-radius: 8px;
    padding: 20px;
}
.inputBox {
    position: relative;
    width: 250px;
}
.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    /* background: */
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}
.inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    /* background: */
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.8em;
    padding: 0 10px;
    background: gray;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}
.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    color: rgba(15, 15, 15, 0.7);
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.8em;
    padding: 0 10px;
    background: gray;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}
.inputButton {
    background-color: #00dfc4;
    font-size: 0.7em;
    border: none;
    padding: 10px 15px;
    color: gray;
    /* padding: 16px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    z-index: 4000;
}
.inputButton:hover {
    background-color: rgb(40, 154, 219);
    color: white;
    scale: 1.1;
}
/* .YourMessage {
    text-align: center;
    justify-content: center;
} */

::-webkit-input-placeholder {
    margin-bottom: 30px;
    text-align: center;
}
.navigation {
    position: relative;

    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.navigation ul {
    position: relative;
    list-style: none;
    width: 37.5em;
    height: 70px;
    z-index: 1;
    display: flex;
}

.navigation ul .a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul .a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    /* color: black; */
}

.navigation ul .a.active .icon {
    transform: translateY(-1.2em);
}

.navigation ul .a .text {
    position: absolute;
    color: black;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul .a.active .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    left: 6%;

    width: 5em;
    height: 4.5em;
    border-radius: 50%;
    background: #00dfc4;
    border: 6px solid black;
    transition: 0.5s;
    z-index: -1;
}

/* .indicator::before {
    content: "";
    position: absolute;
    top: 10%;
    left: -20px;
    width: 15px;
    height: px;
    /* background: transparent; */
/* border-top-right-radius: 20px;
    box-shadow: 0px 10px 0 0 black;
} */
/* .indicator::after {
    content: "";
    position: absolute;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px 10px 0 0 black;
} */

.navigation ul a:nth-child(1).active ~ .indicator {
    transform: translateX(calc(4.65em * 0));
}
.navigation ul a:nth-child(2).active ~ .indicator {
    transform: translateX(calc(4.65em * 2));
}
.navigation ul a:nth-child(3).active ~ .indicator {
    transform: translateX(calc(4.65em * 4));
}
.navigation ul a:nth-child(4).active ~ .indicator {
    transform: translateX(calc(4.65em * 6));
}
/* .AboutMe {
    color:
} */
.MainPageClass {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    background-color: black;
    color: lightblue;
    top: 0;
    align-items: center;
    min-height: 80vh;
    /* height: auto; */
    border: 10px;
}
.MainPagecontent {
    height: auto;
    text-align: center;
    border: 10px solid gray;
    background: gray;
    opacity: 0.7;
    color: white;
    border-radius: 15px;
    margin: 20px;
    font-size: 1.2em;
    max-width: 500px;
}
.Projects {
    background: black;
    color: white;
}
.ProjectsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
    margin: 10px;
}
.loggedPic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.popupclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 350px;
    padding: 0;
    margin: 0;
    z-index: 1100;
    background: lightgray;
    padding: 20px;
    border-radius: 15px;
    color: black;
}
.MainPopup {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.Overlay {
    display: grid;
    /* overflow-y: scroll; */
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    /* height: 90vh; */
    z-index: 1000;
}
.popupclass:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}
.maping {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.sebody {
    background: #00dfc4;
    z-index: 100;

    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 150px;
}
.se-slope {
    margin: 0 -50px;
    transform-origin: left center;
}
.se-slope:nth-child(odd) {
    background: #000;
    transform: rotate(5deg);
    margin-top: -200px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.4);
}
.se-slope:nth-child(even) {
    background: #00dfc4;
    transform: rotate(-5deg);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4) inset;
}
.se-content {
    margin: 0 auto;
}
.se-content h3 {
    font-size: 60px;
    position: relative;
    display: inline-block;
    padding: 10px 30px 8px 30px;
    /* height: 80px; */
    line-height: 80px;
    margin-bottom: 20px;
    font-family: "Bitter", "Trebuchet MS", Arial;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.se-slope:nth-child(odd) .se-content h3 {
    background: #00dfc4;
    color: #000;
}
.se-slope:nth-child(even) .se-content h3 {
    background: #000;
    color: #00dfc4;
}
.se-content h3:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid black;
    position: absolute;
    left: -59px;
    top: 0px;
}
.se-content h3:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid black;
    position: absolute;
    right: -59px;
    top: 0px;
}
.se-slope:nth-child(odd) .se-content h3:before,
.se-slope:nth-child(odd) .se-content h3:after {
    border-right-color: #00dfc4;
    border-left-color: #00dfc4;
}
.se-content p {
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
}
.se-content p:first-letter {
    font-size: 40px;
    font-family: "Adobe Garamond Pro", Georgia, serif;
}
.se-slope:nth-child(odd) .se-content {
    transform: rotate(-5deg);
    color: #00dfc4;
    padding: 130px 100px 250px 100px;
}
.se-slope:nth-child(even) .se-content {
    transform: rotate(5deg);
    color: #000;
    padding: 150px 100px 250px 100px;
}

.application {
    height: 700px;
    background-color: aqua;
}
.objects {
    position: fixed;
    top: 0;
    /* background: black; */
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
}
.Box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Box li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate5 20s linear infinite;
    bottom: -150px;
    border-radius: 50%;
}
.Box li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.Box li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.Box li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.Box li:nth-child(4) {
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.Box li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.Box li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate5 {
    0% {
        transform: translateY(0) scale(0);
    }
    100% {
        transform: translateY(-800px) scale(2);
        opacity: 0;
    }
}
#thisbutton {
    display: block;

    top: 124px;
    right: 0px;
    width: auto;
    height: 3.9em;
    position: fixed;
    background: #00dfc4;
    border: 5px;
    margin: 10px;
    /* margin-top: 0; */
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 10px;
    z-index: 1000;
    font-size: 12px;
    text-align: center;
}

#thisbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    /* font-weight: bold; */
    scale: 1.1;
}
.thisbutton2 {
    display: block;
    top: 124px;
    left: 0px;
    width: auto;
    height: 3.9em;
    position: fixed;
    background: #00dfc4;
    border: 5px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50%;
    z-index: 1000;
    font-size: 12px;
    text-align: center;
}
.thisbutton2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    scale: 1.1;
    /* font-weight: bold; */
}

.whrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: max-content; */
    height: 100%;
    overflow: hidden;
    /* background: #000; */
}
/* .whrapper h2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 50px;
    color: antiquewhite;
    text-transform: uppercase;
    margin: 0;
} */
.Box3 {
    background-color: transparent;
    /* opacity: 0.1; */
}
.Box3 .div1 {
    height: 60px;
    border: 6px solid rgba(255, 255, 255, 0.8);
    background-color: black;
    width: 60px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate7 4s linear infinite;
    background: black;
    border-radius: 15px;
    opacity: 0.1;
}

.Box3 .div1:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate7 10s linear infinite;
}
.Box3 .div1:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate7 7s linear infinite;
}
.Box3 .div1:nth-child(3) {
    top: 16%;
    left: 9%;
    animation: animate7 9s linear infinite;
}
.Box3 .div1:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate7 10s linear infinite;
}
.Box3 .div1:nth-child(5) {
    top: 67%;
    left: 16%;
    animation: animate7 9s linear infinite;
}
.Box3 .div1:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate7 12s linear infinite;
}
.Box3 .div1:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate7 15s linear infinite;
}
.Box3 .div1:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate7 16s linear infinite;
}
.Box3 .div1:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate7 9s linear infinite;
}
.Box3 .div1:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate7 5s linear infinite;
}
@keyframes animate7 {
    0% {
        transform: scale(0) translateY(0) rotate(50deg);
    }
    100% {
        transform: scale(1.6) translateY(-250px) rotate(360deg);
    }
}
/* @media all and (max-width: 500px) {
    .NavigationBody {
        width: 80vw;
    }
} */
@media all and (max-width: 500px) {
    .navigation {
        width: 80vw;
    }
}
@media all and (max-width: 500px) {
    .indicator {
        width: 3em;
        height: 3em;
    }
}

/* @media all and (max-width: 450px) {
    #thisbutton {
        width: 3em;
        height: 3em;
    }
} */
/* @media all and (max-width: 450px) {
    .thisbutton2 {
        width: 3em;
        height: 3em;
    }
} */
@media all and (max-width: 421px) {
    .navigation ul a:nth-child(1).active ~ .indicator {
        transform: translateX(calc(4.65em * 0));
    }
}
@media all and (max-width: 421px) {
    .navigation ul a:nth-child(2).active ~ .indicator {
        transform: translateX(calc(4.65em * 1.1));
    }
}
@media all and (max-width: 421px) {
    .navigation ul a:nth-child(3).active ~ .indicator {
        transform: translateX(calc(4.7em * 2.2));
    }
}
@media all and (max-width: 421px) {
    .navigation ul a:nth-child(4).active ~ .indicator {
        transform: translateX(calc(4.7em * 3.3));
    }
}
@media all and (max-width: 421px) {
    .navigation ul .a.active .icon {
        transform: translateY(-1.65em);
    }
}
/* .navigation ul .a.active .icon {
    transform: translateY(-1.2em);
} */
/* .navigation ul .a.active .icon {
    transform: translateY(-32px);
} */
/* .navigation ul a:nth-child(1).active ~ .indicator {
    transform: translateX(calc(4.65em * 0));
}
.navigation ul a:nth-child(2).active ~ .indicator {
    transform: translateX(calc(4.65em * 2));
}
.navigation ul a:nth-child(3).active ~ .indicator {
    transform: translateX(calc(4.65em * 4));
}
.navigation ul a:nth-child(4).active ~ .indicator {
    transform: translateX(calc(4.65em * 6));
} */
.objects,
.whrapper {
    pointer-events: none;
}

.whrapper #Box3 .thisbutton2 {
    pointer-events: auto;
}
.objects #Box #thisbutton {
    pointer-events: auto;
}
.myX {
    font-weight: bold;
}
/* .Img2webpage {
    scale: 1.1;
} */
